atomicwrites==1.3.0
attrs==19.3.0
bandit==1.6.2
Click==7.0
coverage==5.0.1
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
importlib-metadata==1.3.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.0.2
packaging==19.2
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytest==4.3.1
pytest-cov==2.8.1
six==1.13.0
toml==0.10.0
tox==3.14.3
virtualenv==16.7.9
wcwidth==0.1.8
Werkzeug==0.16.0
zipp==0.6.0
tensorflow==2.0.0a0
numpy==1.17.3
better_profanity==0.5.0
