{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">

                <div class="text">
                    {% autoescape false %}
                    {% for catalogue_song in catalogue_songs %}
                    <tr>
                        <br>
                        <br>
                        <div class="card text-white bg-dark mb-3">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="text-white bg-dark">{{ catalogue_song['lyrics'] }}</p>
                                    <footer class="blockquote-footer text-white bg-dark italic">A song about {{ catalogue_song['title'] }} by KanyAI</footer>
                                </blockquote>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}