name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
        pip install -r requirements.txt
    - name: flake8 style enforcement
      run: flake8 --ignore=E203,C901,E402,E501,D400 --max-line-length=160 src/ app.py test/
    - name: bandit security linting
      run: bandit app.py
    - name: unit tests
      run: python3 -m pytest --cov=src --cov-fail-under=80
